*{
	margin:0;
	padding:0;
	font-size: 12px;
}
a:hover{
	color: #333;
	cursor: pointer;
}
.site-topbar{
	position: relative;
	z-index: 30;
	height: 40px;
	font-size: 12px;
	color:#b0b0b0;
	background: #333;
}
.topbar-nav {
	float: left;
	height: 40px;
	line-height: 40px;
}
.site-topbar a{
	color: #b0b0b0;
	height: 40px;
	display: inline-block;
}
.sep{
	margin: 0 .5em;
    color: #424242;
    font-family: sans-serif;
}
.nav{
	float: left;
}

.nav-right{
	float: right;
	height: 40px;
	line-height: 40px;
}
.nav-right img{
	height: 20px;
	margin-right: 0.5em;
}

.sec{
	margin-top: 5px;
}
.sec1{
	width: 234px;
	height: 88px;
	float: left;
	display: flex;
	align-items: center;
}
.sec1 img{
	width: 55px;
	height: 55px;
}
.sec2{
	float: left;
	height: 88px;
	width: 670px;
}
.sec2 a{
	display: inline-block;
	margin: 0 0.5em;
	margin-top: 24px;
	font-size: 13px;
}
.sec3{
	height: 88px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.sec3 img{
	height: 30px;
	margin-right: 5px;
}
.sec3 input{
	height: 30px;
}


.third{
	width: 100%;
	height: 460px;
	margin-bottom: 10px;
}
.thi1{
	margin:0;
	width: 194px;
	height: 460px;
	float: left;
	background-color: rgba(0,0,0,0.6);
}
.thi2{
	height: 42px;
	margin:0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.thi2:hover{
	background: rgba(204,102,51,0.5);
}
.thi2 span{
	margin-left: 30px;
	color: #fff;
	//height: 30px;
}
.thi2 a{
	margin-right: 20px;
	color: #fff;
}
.thi3{
	width: 1050px;
	height: 460px;
	float: right;
}
.thi3 img{
	width: 100%;
	height: 100%;
}
.thi4{
	position:absolute;
	top:550px;
	left: 600px;
}
.thi4:hover{
	cursor: pointer;
}


.forth{
	display: flex;
	justify-content: space-between;
	height: 170px;
	width: 100%;
}
.for1{
	height: 100%;
	width: 234px;
	background: rgba(204,256,204,0.2);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.for2{
	width: 70px;
	height: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.for2 img{
	width: 24px;
	height: 24px;
}
